* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Work+Sans:wght@400;500;700;800&display=swap");
/* share styles  */
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
}

/* header style  */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 50px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: black;
}

.section-title {
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}

/* banner section  */
.banner-content {
  max-width: 880px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: var(--dark-01, #131313);
  font-size: 4rem;
  font-weight: 700;
}

.text-light-grey {
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main  */
main {
  max-width: 1440px;
  margin: 70px auto;
}

.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content {
  padding-right: 70px;
  padding-left: 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  color: var(--dark-03, #727272);
  font-size: 45px;
  font-weight: 500;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700;
}

/* facts cards */
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-bottom: 10px;
  margin-top: 10px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5PX;
}

.facts-card-container{
  display: flex;
  justify-content: space-around;
}

/* sponsor  */
.sponsors{
  text-align: center;
}
.sponsor-img-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}


/* feature section style  */
.features{
  margin-top: 130px;
  display: flex;
  gap: 100px;
}
.feature-content .card{
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
margin: 20px;
}
.feature-img img{
height: 90%;
margin-left: 50px;
}
.features .section-title{
  border-left: 5px solid tomato;
  padding-left: 20px;
}
.ten-years-badge{
  border-radius: 8px;
background: #FF900E;
color: #FFF;
width: 342px;
padding: 40px;
text-align: center;
position: relative;
bottom: 100px;

}
.ten-years-badge h2{
  font-size: 4rem;
  margin: 0;

}
.ten-years-badge p{
  font-size: 1.5rem;

}







/* RESPONSOIVE AREa  */
/* mobile  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-container {
    flex-direction: column;
  }
  .teams-content,
  .teams-title {
    text-align: center;
  }
  .facts-card-container{
    flex-direction: column;
    padding: 40px;
    padding-bottom: 20px;
    gap: 20px;
  }
  .sponsor-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}
.sponsor-img-container img{
  width: 40%;
 
}
.feature-img img{
  width: 100%;
  margin-left: 0;
}
.ten-years-badge{
  position: static;
  width: auto;
}
.features{
  flex-direction: column;
}
}


/* tablet device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
  }
  .teams-container{
    flex-direction: column;
  }
  .teams-content,
  .teams-title {
    text-align: center;

  }
  .sponsor-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}
